<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base/head :: head}"></head>
<body>
    <div th:replace="~{base/menu :: menu}"></div> 
    <div th:replace="~{base/header :: header}"></div>
    <main>
        <form th:action="@{/salvar-usuario}" method="post" th:object="${usuario}" enctype="multipart/form-data">
            <input type="hidden" name="pk" th:value="${usuario.pk}"/>
            <label for="nome">Nome</label>
            <input th:field="*{nome}" type="text" placeholder="Nome" name="nome" required/>
            <label for="email">E-mail</label>
            <input th:field="*{email}" type="email" placeholder="E-mail" name="email" required/>
            <label for="senha">Senha</label>
            <input type="password" placeholder="Senha" name="senha" required th:value="${usuario.senha}" />
            <label for="imagem">Foto</label>
            <input type="file" name="imagem" accept="image/png, image/jpeg, image/jpg"/>
            <p th:text="${usuario.foto}"></p>
            <input type="submit" value="Atualizar"/>
            <p th:text="${erro}"></p>
        </form> 
    </main>
    <div th:replace="~{base/menu-overlay :: menu-overlay}"></div>
</body>
</html>