<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base/head :: head}"></head>
<body>
    <div th:replace="~{base/menu :: menu}"></div> 
    <div th:replace="~{base/header :: header}"></div>
    <main>
        <form th:action="@{/salvar-parametro-especie}" method="post" th:object="${parametroEspecie}" enctype="multipart/form-data">
            <input type="hidden" name="pk" th:value="${parametroEspecie.pk}"/>
            <input type="hidden" name="especie_pk" th:value="${especie.pk}"/>
            
            <label for="parametro_pk">Parâmetro</label>
            <select id="parametro_pk" name="parametro_pk">
                <option th:each="parametro : ${parametros}" th:value="${parametro.pk}" th:text="${parametro.nome}"></option>
            </select>
            <label for="valor">Valor</label>
            <input th:field="*{valor}" min="0" max="999999" step="0.1" type="number" placeholder="Valor" name="valor" required/>
            
            <input type="submit" value="Salvar"/>
            <p th:text="${erro}"></p>
        </form> 
    </main>
    <div th:replace="~{base/menu-overlay :: menu-overlay}"></div>
</body>
</html>