<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base/head :: head}"></head>
<body>
    <div th:replace="~{base/menu :: menu}"></div> 
    <div th:replace="~{base/header :: header}"></div>
    <main class="lista">
        <ul class="lista-item"> 
            <li th:each="item: ${historico}">
                <a class="item">
                    <div class="card">
                        <div style="background: rgb(2,0,36);">
                            <p th:text="${item.equipamento.nome} + ': ' + ${item.estado}"></p>
                            <p th:text="${item.data} + '  ' + ${item.hora}"></p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>    
    </main>
    <div th:replace="~{base/menu-overlay :: menu-overlay}"></div>
</body>
</html>